beautifulsoup4==4.9.1
Werkzeug==3.0.4
helium==3.0.5
requests==2.32.0
validators==0.18.1
html5lib==1.1
Flask~=3.0.3
schedule~=1.2.2
matplotlib~=3.9.2
Flask-Bcrypt~=1.0.1
Flask-Login~=0.6.3
APScheduler~=3.10.4
bcrypt~=4.2.0
python-dotenv~=1.0.1
gunicorn
fake-useragent~=1.5.1
PyMySQL==1.1.1