:root {
    --primary-color: #3B1E54;
    --secondary-color: #9B7EBD;
    --accent-color: #D4BEE4;
    --background-color: #EEEEEE;
    --text-color: #333;
    --error-color: #ff4757;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.login-header {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 30px 0;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.login-header h2 {
    margin-bottom: 10px;
    font-weight: 700;
}

.login-form {
    padding: 30px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--primary-color);
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #f0f0f0;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.form-group input:focus {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 3px rgba(155, 126, 189, 0.2);
}

.form-group i {
    position: absolute;
    top: 40px;
    right: 10px;
    color: var(--secondary-color);
}

.login-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color: var(--secondary-color);
}

.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.register-link p {
    padding-bottom:20px;
 }

.register-link a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}

.flashes {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}
.flashes li {
    background-color: var(--error-color); /* Red background */
    color: #721c24; /* Dark red text */
    padding: 10px;
    margin: 5px 0;
}
